<footer>
  <p>&copy; <%= new Date().getFullYear() %> To-Do List Application. All Rights Reserved.</p>
</footer>

<style>
  footer {
    background-color: #f1f1f1;
    color: #333;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
</style>
