<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To-Do List Application</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%- include('header') %>

  <main>
    <h1>Welcome to the To-Do List Application</h1>
    <p>This is your one-stop app for managing your tasks efficiently.</p>
    <a href="/todos" class="btn btn-primary">View To-Do List</a>
    <div class = "logo">
      <img src="/images/logo.png" alt="To-Do App Logo">
    </div>
    <div class = "logo-subtitle"> 
    <h2>TEAM T2E</h2>
    </div>
  </main>

  <%- include('footer') %>
</body>
</html>
